.card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 16px; */
    color: white;
    margin: 20px 0; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 400px;
    width: 100vw; /* Adjust the width of each card */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .card_container.left {
    flex-direction: row; /* Image on the left */
    width: 95vw;
  }
  
  .card_container.right {
    flex-direction: row-reverse; /* Image on the right */
    width: 95vw;
  }
  
  .card_image {
    flex: 1;
    height: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 0px;
    background-position: center;
  }
  
  .card_container.right .card_image {
    border-radius: 0 8px 8px 0;
  }
  
  .card_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    height: 100%;
  }
  
  .card_container.right .card_content {
    border-radius:  0px;
  }
  
  .card_title, .card_paragraph {
    font-size: 1.5rem;
    font-weight: bold;
    /* color: aliceblue; */
    color:white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .card_title
  {
    font-size: 3rem;
  }

  .card_btn {
    align-self: flex-end; /* Aligns the button to the bottom right */
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: solid white 2px;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
  }
  
  .card_btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  @media only screen and (max-width: 850px) {
    .card_title{
      font-size: 2rem;
    }
    .card_content{
      width: 0%;
    }
    .card_image{
      width: 50%;
    }
  }

  @media only screen and (max-width: 600px){
    .card_title{
      font-size: 1.5rem;
    }
  }
