.catalouge_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
  /* overflow-x: hidden; */
}

.catalouge_title {
  text-align: center;
  font-size: 4rem;
  /* font-weight: 500; */
  margin-bottom: 50px;
  /* text-shadow: black 0 0 2px; */
  color: black;
}

.catalouge_main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100vw;
}

.card_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 350px;
}
