.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.custom-navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  left: 25%;
  top: 0;
  position: fixed;
  z-index: 1000;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
