.roww {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.rightt, .leftt {
  flex: 1;
  margin: 10px;
}

.rightt {
  order: 1;
}

.leftt {
  order: 2;
}

.rightt img {
  max-width: 100%;
  height: auto;
}

.def-btnn {
  margin-top: 20px;
}

.learn-more-btnn {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more-btnn:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .rightt, .leftt {
    margin: 0;
    padding: 10px;
  }

  .def-btnn {
    text-align: center;
  }
}
