.containerdefxv {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .left-content,
  .right-content {
    display: flex;
    flex: 1; 
    align-items: center;
  }
  
  .defxvh1 h1 {
    color: white;
    flex: 1;
  }
  
  .right-content img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
  
