.codehelp-container {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    transition: border-bottom 0.3s ease-in;
  }
  
  .left-section {
    flex: 1;
    /* padding-right: 20px; */
  }
  
  .right-section {
    flex: 1;
    overflow: hidden;
    height: 400px;
    /* border: 2px solid white; */
  }
  
  .who-are-we {
    color: #4CAF50;
    margin-bottom: 10px;
  }
  
  .main-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(163,21,176,1) 0%, rgba(59,92,191,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .description {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .connect-button {
    background-color: #7B68EE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sliding-container {
    display: flex;
    flex-direction: column;
    animation: slide 18s linear infinite;
    font-size: larger;  
  }
  
  .feature {
    display: block;
    padding: 20px 0; 
    height: auto; 
    border: 2px solid #109FE7;
    border-radius: 10px;
    padding: 5px; 
    margin-bottom: 50px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
  }
  .description-grey
  {
    color: grey;
    word-wrap: break-word;
  }
  @keyframes slide {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%); 
    }
  }
  
  .sliding-container:hover {
    animation-play-state: paused;
  }
  
  .codehelp-container:hover
  {
    border: 2px solid #109FE7;
    border-radius: 10px;
  }