body {
  background-color: white;
  color: rgb(51, 50, 50);
}

.specs-heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.specs-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.specs-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 30px;
  overflow: hidden;
}

.specs-table th,
.specs-table td {
  padding: 8px;
  text-align: left;
}

.specs-table th {
  text-align: center;
}

.specs-table th:first-child,
.specs-table td:first-child {
  border-left: none;
}

.specs-table th:last-child,
.specs-table td:last-child {
  border-right: none;
}

.specs-table tr:first-child th,
.specs-table tr:first-child td {
  border-top: none;
}

.specs-table tr:last-child th,
.specs-table tr:last-child td {
  border-bottom: none;
}

.specs-table ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.specs-table ul li {
  margin-bottom: 5px;
}

.even {
  background-color: rgb(242, 243, 242);
}

@media (max-width: 500px) {
  .specs-container {
    padding: 10px;
  }

  .specs-table {
    display: block;
  }

  .specs-table tbody {
    display: flex;
    flex-direction: column;
  }

  .specs-table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .specs-table th,
  .specs-table td {
    display: block;
    text-align: left;
  }

  .specs-table th {
    text-align: left;
    padding: 10px;
    font-size: 1.2em;
  }

  .specs-table td {
    padding: 10px;
  }

  .specs-table ul {
    padding-left: 20px;
  }

  .specs-table ul li {
    padding-left: 10px;
  }
}
