.videobanner_container {
    position: relative;
    width: 100%;
    height: 100vh; /* Set your desired height */
    overflow: hidden;
    background-color: white;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    /* margin-top: 50px; */
  }
  
  .videobanner_text {
    position: absolute;
    top: 50%; /* Start from the bottom */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text vertically and horizontally */
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65); /* Adjust background color and opacity as needed */
    border-radius: 10px; /* Rounded borders */
    opacity: 0;
    width: 80%;
  }
  
  .videobanner_text p {
    font-size: 24px;
    line-height: 1.5;
    opacity: 1;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .videobanner_text p {
      font-size: 18px;
    }
  }
  
